/* Styles used for highlighting text on the tag tree if the user chooses that option.  */
span.blueRowLabel {font-family:helvetica; font-size:100%; color:blue}
span.blueRowCount {font-family:helvetica; font-size:100%; color:royalBlue}
span.normalRowLabel {font-family:helvetica; font-size:100%; color:black}
span.normalRowCount {font-family:helvetica; font-size:100%; color:gray}
.treeLabel {font-family:helvetica; font-size:60% color:green}

/* Contex menu for trees */
.contextMenuItem {font-size:80%; font-family:helvetica}
.treeCustom {font-size: 80%; padding: 1px;}


		
* {
    outline: none !important;
}

/* Any demo specific styling needed for this tutorial only */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}
#leftCol {
    width: 11em;
}

.claro .demoLayout .edgePanel {
    /* background-color: gray; */
}

#viewsChart {
	width: 550px;
	height: 550px;
}







body {
    margin: 0;
    padding: 1em;
    /* font-family: Helvetica, Lucida Sans,Lucida Grande,Arial !important; */
    /* font-size: 13px; */
    background: white;
    /* color: #333; */
}

