Package: nixnote2
Version: __VERSION__
Section: x11 
Priority: optional
Architecture: __ARCH__ 
Installed-Size: 133120
Depends: libc6, libpoppler-qt5-1, libqt5sql5, libqt5sql5-sqlite, libqt5xml5, libqt5gui5, libqt5webkit5, libqt5network5, libqt5core5 | libqt5core5a, libpng12-0, libsqlite3-0, libtbb2, tidy, libtidy-0.99-0 | libtidy5, libcurl3
Recommends: mimetex, libreoffice-common, openjdk-7-jre | openjdk-7-jdk | sun-java7-jdk | sun-java7-jre | java7-sdk | java7-runtime | default-jre, nixnote2-webcam-plugin, nixnote2-hunspell-plugin 
Maintainer: Randy Baumgarte <randy@fbn.cx>
Description: Open Source Evernote client.
 NixNote is a client for the Evernote service (www.evernote.com).  It
 will allow synchronization and editing of notes from your local
 system.
