Package: nixnote2
Version: __VERSION__
Section: x11 
Priority: optional
Architecture: __ARCH__ 
Installed-Size: 133120
Depends: libc6, tidy, libhunspell-1.3-0, libpoppler-qt4-4, libqtwebkit4, libqt4-sql, libqt4-xml, libqtgui4, libqt4-network, libqtcore4, libpng12-0, libpoppler28 | libpoppler43, libsqlite3-0, libtbb2, libopenexr6, tidy, libavcodec53, libavformat53, libswscale2, libdc1394-22
Recommends: mimetex, libreoffice-common, openjdk-6-jre | openjdk-6-jdk | sun-java6-jdk | sun-java6-jre | java6-sdk | java6-runtime | default-jre 
Maintainer: Randy Baumgarte <randy@fbn.cx>
Description: Open Source Evernote client.
 NixNote is a client for the Evernote service (www.evernote.com).  It
 will allow synchronization and editing of notes from your local
 system.
