# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Java classes
*.class

# dump logs
*.log
core

# autosave files
*.autosave

# the main program itself
nixnote

#user files
*.pro.*
