# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Java classes
*.class

# dump logs
*.log
core
 
# Deb/RPM/tar files
*.tar.gz
*.deb
*.rpm
 
# moc_* files
moc_*.*
qrc_*.*

# autosave files
*.autosave

# the main program itself
nixnote
nixnote2

#user files
*.pro.*

#compiled translations
translations/*.qm

#Makefiles
Makefile
Makefile.Debug
Makefile.Release

#KDE workfile
.directory
/.project
