# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Java classes
*.class

# dump logs
*.log
core
 
# Deb/RPM/tar files
*.tar.gz
*.deb
*.rpm
 
# moc_* files
moc_*.*
qrc_*.*

# autosave files
*.autosave

# the main program itself
nixnote2

# user files
*.pro.*

# compiled translations
translations/*.qm

# Makefiles
Makefile
Makefile.Debug
Makefile.Release

# KDE workfile
.directory
/.project

# eclipse files
.cproject
.settings

cmake-build-debug/
build/

# idea
.idea/workspace.xml
.idea/misc.xml
.idea/tasks.xml
.idea/dictionaries
.idea/watcherTasks.xml

# QMake file
.qmake.stash
