[Desktop Entry]
Name=NixNote2
Comment=Use with Evernote to remember everything
GenericName=Evernote-clone
Exec=/usr/bin/nixnote2
Icon=/usr/share/nixnote2/images/windowIcon0.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;
MimeType=x-scheme-handler/evernote;

Actions=NewNote;
[Desktop Action NewNote]
Name=New Note
Exec=nixnote2 --newNote
OnlyShowIn=Unity;
