[Desktop Entry]
Name=NixNote2
Comment=Use with Evernote to remember everything
GenericName=Evernote-clone
Exec=nixnote2
Icon=nixnote2
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;Utility;Network;
Keywords=NixNote2;Text;Evernote;note;

Actions=NewNote;
[Desktop Action NewNote]
Name=New Note
Name[zh_CN]=新建笔记
Exec=nixnote2 --newNote
