[Desktop Entry]
Name=NixNote2
Comment=Use with Evernote to remember everything
GenericName=Evernote-clone
Exec=nixnote2
Icon=/usr/share/nixnote2/images/windowIcon.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;Utility;Network;
Keywords=NixNote2;Text;Evernote;note;

Actions=NewNote;
[Desktop Action NewNote]
Name=New Note
Exec=nixnote2 --newNote
OnlyShowIn=Unity;
