QDateTimeEdit {
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 4px;
}

QDateTimeEdit::up-button {
    width: 14px;
}

QDateTimeEdit::down-button {
    width: 14px;
}