Package: nixnote2
Section: x11 
Priority: optional
Architecture: all
Depends: libc6, libhunspell-1.3-0, libpoppler-qt4-4, libqtwebkit4, libqt4-sql, libqt4-sql-sqlite, libqt4-xml, libqtgui4, libqt4-network, libqtcore4, libpng12-0, libpoppler28 | libpoppler43 | libpoppler44, libsqlite3-0, libtbb2, libopenexr6, tidy, libavcodec53 | libavcodec54 | libavcodec-extra-53 | libavcodec-extra-54,  libavformat53 | libavformat54 | libavformat-extra-53 | libavformat-extra-54 | libavformat-55 | libavformat55 | libavformat-extra-55 | libavformat56 | libavformat-56 | libavformat-extra-56, libswscale2 | libswscale-extra-2, libdc1394-22, libopencv-core2.4, libopencv-highgui2.4, libcurl3
Recommends: mimetex, libreoffice-common, openjdk-7-jre | openjdk-7-jdk | sun-java7-jdk | sun-java7-jre | java7-sdk | java7-runtime | default-jre 
Maintainer: Randy Baumgarte <randy@fbn.cx>
Homepage: https://github.com/baumgarr/Nixnote2
Description: Open Source Evernote client.
 NixNote is a client for the Evernote service (www.evernote.com).  It
 will allow synchronization and editing of notes from your local
 system.
